body {
    border: solid;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}
.navbar {
    display: flex;
    gap: 10px;
    background-color: #06268a;
    padding: 15px 15px 0px 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.navbar a {
    background-color: #3655b3;
    padding: 8px 15px 5px 15px;
    color: #fff;

}