body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
ul {
    list-style-type: none;
}
h1 {
    margin-bottom: 0%;
}


.to_do_list_cont {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



